<div class="alert alert-success" style="width: 18rem; margin: auto;">
	<img src={{logo}} class="card-img-top">
	<div class="card-body">
		<h1 class="alert-heading">Honda</h1>
		<p class="alert alert-dark">{{pais}}</p>
		<p class="alert alert-dark">{{sectorVentas}}</p>
		<p class="alert alert-dark">{{anioFundacion}}</p>
		<hr class="my-4">
		
	</div>
</div>