<div class="card" style="width: 18rem; margin: auto; background-color: gray;">
	<img src={{logo}} class="card-img-top">
	<div class="card-body">
		<h1 class="card-title">Mazda</h1>
		<p class="progress">{{pais}}</p>
		<p class="progress">{{sectorVentas}}</p>
		<p class="progress">{{anioFundacion}}</p>

		<hr class="my-4">
		
	</div>
</div>